<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>게시판 폼</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>게시판 폼</h2>
    <form id="postForm">
        <!-- 제목 입력 -->
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <!-- 본문 -->
        <div class="form-group">
            <label for="content">본문</label>
            <textarea class="form-control" id="content" name="content" rows="5" required></textarea>
        </div>
        <!-- 버튼 그룹 -->
        <div class="form-group">
            <button type="button" class="btn btn-secondary mr-2" id="cancelBtn">취소</button>
            <button type="submit" class="btn btn-primary">확인</button>
        </div>
    </form>
</div>
<script src="js/createPostPage.js"></script>

</body>
</html>